.App {
    width: 30%;
    margin: auto;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 12px;
    padding: 20px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    height: 140px;
}

.container {
    display: flex;
    align-items: center;
    height: 70px;
}

.animation {
    animation: fadeIn 3s;
}

.image {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: cadetblue;
    border: 1px solid grey;
}

.nameContainer {
    padding-left: 16px;
    width: 100%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.name {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}

.email {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.error {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: red;
}

.refreshButton {
    background: red;
    color: white;
    border-radius: 8px;
    padding: 12px;
    border: none;
    width: 150px;
    margin-top: 20px;
    cursor: pointer;
}

.refreshButtonDisable {
    background: #f16464;
    color: white;
    border-radius: 8px;
    padding: 12px;
    border: none;
    width: 150px;
    margin-top: 20px;
    cursor: pointer;
}

.alignCenter {
    text-align: center;
}

.spinner {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.1);
    border-top-color: rgb(255, 255, 255);
    animation: spin 1s linear infinite;
    margin: auto;
}

.cursorBlock {
    cursor: not-allowed;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .App {
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #EBEBEB;
        border-radius: 12px;
        padding: 20px;
        box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    }

}

